# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [56]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
weather_csv = "../output_data/weather_data.csv"
city_df = pd.read_csv(weather_csv)
city_df

,lat,lng,max temp,humidity,cloudiness,wind speed,country,date
0,53.8800,67.4158,256.40,88,34,2.69,KZ,1644185630
1,-0.7393,-90.3518,303.13,88,43,2.68,EC,1644185634
2,-23.1203,-134.9692,299.40,70,3,7.77,PF,1644185399
3,62.5500,155.5500,247.81,66,0,0.54,RU,1644185636
4,-34.6667,-54.9167,293.28,69,77,9.08,UY,1644185638
...,...,...,...,...,...,...,...,...
576,-3.4167,114.8500,297.20,94,100,1.03,ID,1644186454
577,-14.2426,31.3253,290.22,96,84,1.54,ZM,1644186456
578,-3.3667,135.4833,298.11,89,99,0.99,ID,1644186305
579,40.6167,120.7167,259.97,85,29,1.74,CN,1644186458
580,-13.2750,-50.1628,297.85,83,93,2.21,BR,1644186373

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
# configure gmaps
gmaps.configure(api_key=g_key)

In [15]:
# extract lat and long into own dataframe
location_df = city_df[["lat", "lng"]]

# extract humidity into series of floats
humidity = city_df["humidity"].astype(float)

In [16]:
# Plot Heatmap
fig = gmaps.figure()
# dataframe functions as our list of pairs (df with two columns)
heat_layer = gmaps.heatmap_layer(location_df,
                                 weights=humidity,
                                 dissipating=False,
                                 max_intensity=10,
                                 point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

Ideal weather conditions: A max temperature lower than 80 (300 K) degrees but higher than 70 (294 K).
Wind speed less than 10 mph.
Zero cloudiness.

In [34]:
# narrow down dataframe based on above requirements
city_a = city_df.loc[(city_df["max temp"] > 294) & (city_df["max temp"] < 300)]
city_b = city_a.loc[(city_a["wind speed"] < 10)]
city_c = city_b.loc[(city_b["cloudiness"] == 0)]
final_city_df = city_c.dropna()
final_city_df.head()

,lat,lng,max temp,humidity,cloudiness,wind speed,country,date
27,39.1502,-123.2078,297.66,28,0,0.00,US,1644185582
30,-25.2406,130.9889,295.15,37,0,3.47,AU,1644185672
37,-33.9180,25.5701,296.54,68,0,2.57,ZA,1644185682
50,34.6391,-120.4579,299.70,40,0,8.23,US,1644185600
89,-45.8667,-67.5000,297.07,35,0,4.12,AR,1644185700

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [75]:
hotel_df = final_city_df
hotel_df["hotel name"] = ""
hotel_df["city"] = ""
# reset index to make life easier when putting hotels in
hotel_df.reset_index(inplace=True)
hotel_df.head()

,index,lat,lng,max temp,humidity,cloudiness,wind speed,country,date,hotel name
0,27,39.1502,-123.2078,297.66,28,0,0.00,US,1644185582,
1,30,-25.2406,130.9889,295.15,37,0,3.47,AU,1644185672,
2,37,-33.9180,25.5701,296.54,68,0,2.57,ZA,1644185682,
3,50,34.6391,-120.4579,299.70,40,0,8.23,US,1644185600,
4,89,-45.8667,-67.5000,297.07,35,0,4.12,AR,1644185700,

In [88]:
# loop through all cities (just do 0-5 right now)
for index, hotel in enumerate(hotel_df.iterrows()):
    lat = hotel[1]['lat']
    lng = hotel[1]['lng']
    # set up params dictionary
    params = {
        "location": f"{lat}, {lng}",
        "radius": 5000,
        "type": "hotel",
        "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # run a request using our params dictionary
    response_json = requests.get(base_url, params=params).json()
    print(f"processing city number {index}")
    try:
        # first item after results seems to be city info so take second [1] item then grab hotel name
        hotel_df.loc[index, "hotel name"] = response_json['results'][1]['name']
        # get city name
        hotel_df.loc[index, "city"] = response_json['results'][0]['name']
    except:
        print(f"unable to find hotel for city number {index}")
hotel_df

processing city number 0
processing city number 1
processing city number 2
processing city number 3
processing city number 4
processing city number 5
processing city number 6
processing city number 7
processing city number 8
processing city number 9
processing city number 10
processing city number 11
processing city number 12
processing city number 13
processing city number 14
processing city number 15
processing city number 16
processing city number 17
processing city number 18
processing city number 19
processing city number 20
processing city number 21
processing city number 22
processing city number 23
processing city number 24
processing city number 25
processing city number 26
processing city number 27
processing city number 28
processing city number 29
processing city number 30

,index,lat,lng,max temp,humidity,cloudiness,wind speed,country,date,hotel name,city
0,27,39.1502,-123.2078,297.66,28,0,0.00,US,1644185582,Hampton Inn Ukiah,Ukiah
1,30,-25.2406,130.9889,295.15,37,0,3.47,AU,1644185672,Desert Gardens Hotel - Ayers Rock Resort,Petermann
2,37,-33.9180,25.5701,296.54,68,0,2.57,ZA,1644185682,Gelvandale Stadium,Gqeberha
3,50,34.6391,-120.4579,299.70,40,0,8.23,US,1644185600,"Holiday Inn Express Lompoc, an IHG Hotel",Lompoc
4,89,-45.8667,-67.5000,297.07,35,0,4.12,AR,1644185700,Austral Hotel,Comodoro Rivadavia
5,126,13.5728,-8.0339,294.81,10,0,4.34,ML,1644185806,Kolokani,Kolokani
6,157,-26.6167,-54.1333,298.03,36,0,1.84,AR,1644185856,Banco Macro Sucursal 13 San Pedro,San Pedro
7,167,17.0151,54.0924,298.20,31,0,4.63,OM,1644185665,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel",Salalah
8,192,-34.7333,135.8667,296.26,59,0,6.37,AU,1644185845,Port Lincoln Hotel,Port Lincoln
9,197,12.0708,1.7889,297.55,17,0,3.39,BF,1644185911,Haut commissariat de Diapaga,Diapaga
10,275,-9.6658,-35.7353,298.84,78,0,3.60,BR,1644186028,Lojas Marisa,Maceió
11,277,12.4850,-16.5469,295.87,62,0,2.95,SN,1644186030,Asamblea de Cooperacion por la Paz (Senegal),Oussouye
12,282,10.3744,10.7288,294.65,21,0,4.02,NG,1644186037,Central Mosque,Bara
13,283,13.6393,4.0287,295.41,13,0,4.80,NE,1644186038,Souleymane Alassane Gaoh,Dogondoutchi
14,297,22.8909,-109.9124,296.82,61,0,0.89,MX,1644185849,Hotel Tesoro Los Cabos,Cabo San Lucas
15,317,-23.5333,148.1667,296.12,57,0,6.47,AU,1644186088,The Irish Village,Emerald
16,321,15.1333,-23.2167,294.59,80,0,6.46,CV,1644186093,Hotel Marilu,Vila do Maio
17,322,37.4636,-122.4286,295.09,48,0,0.45,US,1644186094,"The Ritz-Carlton, Half Moon Bay",Half Moon Bay
18,334,29.4333,-110.4000,297.33,22,0,3.14,MX,1644186110,Secretaría de Sedesson.,Ures
19,343,10.8639,0.2050,299.27,15,0,2.80,TG,1644186122,Hotel Caroli,Dapaong
20,356,38.4210,-121.4238,295.18,46,0,1.34,US,1644186140,Holiday Inn Express & Suites Elk Grove Central...,Sacramento
21,391,37.3394,-121.8950,295.70,36,0,1.79,US,1644186002,The Westin San Jose,San Jose
22,416,10.6333,-8.6833,298.80,12,0,2.23,GN,1644186224,Ciel Petrole,Mandiana
23,424,14.7328,-6.1219,297.21,11,0,4.27,ML,1644186234,Grande Mosquée de Sokolo,Sokolo
24,474,14.8961,-24.4956,295.94,75,0,3.13,CV,1644186305,Hotel Xaguate,Sao Filipe
25,476,-27.3667,-70.3333,294.98,33,0,2.98,CL,1644186310,San Francisco de La Selva,Copiapó
26,497,9.6989,10.2744,295.66,23,0,2.82,NG,1644186338,Primary School,Yuli
27,509,-37.8333,140.7667,294.10,49,0,5.66,AU,1644186355,The Commodore,Mount Gambier
28,535,22.8140,-82.7561,299.25,49,0,1.94,CU,1644186389,Artemis Music House,Artemisa
29,555,-21.6403,-41.0511,298.41,85,0,9.18,BR,1644186417,AC São João da Barra,Grussaí
30,575,20.5169,-13.0499,296.22,10,0,2.42,MR,1644186256,Oumou Elghoura,Atar

In [89]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lng"]]

In [92]:
# Add marker layer ontop of heat map
# Assign the marker layer to locations and add info box
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))